div
{
	padding-right: 5px;
}
.bar
{
	text-align: center;
}
.text_1
{
	font: 15px solid verdana;
}
.text_2
{
	font: 15px solid verdana;
}
.text_3
{
	font: 15px solid verdana;
}
div
{
	text-align: top;
	text-align: right;
}
.section_1 .section_2 .section_3
{
	font-weight: bold;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.parent
{
	display : -webkit-box;
	-webkit-box-orient : horizontal;
}
.section_1
{
	background-color: yellow;
	height: 400px;
	width: 400px;
	margin: 5px;
}
.title_1
{
	text-align: top-right;
	font-weight: bold;
}
.section_2
{
	background-color: blue;
	height: 400px;
	width: 400px;
	margin: 5px;
}
.title_2
{
	text-align: top-right;
	font-weight: bold;
}
.section_3
{
	background-color: red;
	height: 400px;
	width: 400px;
	margin: 5px;
	margin-left: none;
}
.title_3
{
	text-align: top-right;
	font-weight: bold;
}
[class*="col-"]
{
	float: left;
	padding: 15px;
}
@media only screen and (max-width: 991px)
{
	.section_1 .section_2
	{
		width: 50%;
	}
	.bar
	{
		margin: auto;
	}
	.section_3
	{
		width: 100%;
	}
}
@media only screen and (max-width: 668px)
{
	.section_1 .section_2 .section_3
	{
		width: 100%;
		text-align: center;

	}
	.bar
	{
		margin: auto;
	}
}
@media only screen and (min-width: 600px)
{
.col-t-1{width: 10%;}
.col-t-2{width: 20%;}
.col-t-3{width: 30%;}
.col-t-4{width: 40%;}
.col-t-5{width: 50%;}
.col-t-6{width: 60%;}
.col-t-7{width: 70%;}
.col-t-8{width: 80%;}
.col-t-9{width: 90%;}
.col-t-10{width: 100%;}
}
@media only screen and (min-width: 768px)
{
.col-1{width: 10%;}
.col-2{width: 20%;}
.col-3{width: 30%;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8{width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}
}
